In [261]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot
from sklearn.model_selection import train_test_split, GridSearchCV
%config InlineBackend.figure_format = "svg"

In [262]:
df = pd.read_csv("/Users/nouf/Desktop/Airbnb_price_prediction/train.csv")

In [263]:
df

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74106,14549287,4.605170,Apartment,Private room,{},1,1.0,Real Bed,flexible,False,...,40.709025,-73.939405,one room bushwick,Williamsburg,0,NaN,https://a0.muscache.com/im/pictures/55162426/6...,11206.0,1.0,1.0
74107,13281809,5.043425,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,2.0,Real Bed,moderate,True,...,33.871549,-118.396053,Spacious Hermosa 2 BR on PCH,Hermosa Beach,16,93.0,https://a0.muscache.com/im/pictures/2b86560b-a...,90254,2.0,4.0
74108,18688039,5.220356,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",5,1.0,Real Bed,moderate,True,...,40.706749,-73.942377,Modern 2 Bedroom Apartment in Williamsburg,Williamsburg,43,94.0,https://a0.muscache.com/im/pictures/7fbe448c-5...,11206.0,2.0,2.0
74109,17045948,5.273000,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",2,1.0,Real Bed,strict,True,...,40.738535,-74.000157,Designer's Apartment in HEART of NYC,West Village,0,NaN,https://a0.muscache.com/im/pictures/b3971b63-0...,10011,0.0,2.0
74110,3534845,4.852030,Boat,Entire home/apt,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",4,1.0,Real Bed,moderate,False,...,33.761096,-118.192409,Cozy Boat at Shoreline Village,Long Beach,205,96.0,https://a0.muscache.com/im/pictures/22968537/d...,90802,1.0,2.0

In [264]:
df.property_type.value_counts()

Apartment             49003
House                 16511
Condominium            2658
Townhouse              1692
Loft                   1244
Other                   607
Guesthouse              498
Bed & Breakfast         462
Bungalow                366
Villa                   179
Dorm                    142
Guest suite             123
Camper/RV                94
Timeshare                77
Cabin                    72
In-law                   71
Hostel                   70
Boutique hotel           69
Boat                     65
Serviced apartment       21
Tent                     18
Castle                   13
Vacation home            11
Yurt                      9
Hut                       8
Treehouse                 7
Chalet                    6
Earth House               4
Tipi                      3
Train                     2
Cave                      2
Parking Space             1
Lighthouse                1
Island                    1
Casa particular           1
Name: property_type, dtype: int64

# Splits

In [265]:
#df, validation_df  = train_test_split(data,
#                                test_size=0.25,
#                                random_state = 101)

In [266]:
#df_train, df_test  = train_test_split(df,
#                                test_size=0.25,
#                                random_state = 101)

# info

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

# Finding missing values

In [268]:
df.isnull().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   0
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                          0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
thumbnail_url              8216
zipcode                     966
bedrooms                     91
beds                        131
dtype: int64

# Date

In [269]:
df["last_review"] = pd.to_datetime(df["last_review"])
df["first_review"] = pd.to_datetime(df["first_review"])
df["host_since"] = pd.to_datetime(df["host_since"])

# Replacing missing values

In [270]:
df.last_review.fillna(method="ffill",inplace=True)
df.first_review.fillna(method="ffill",inplace=True)
df.host_since.fillna(method="ffill",inplace=True)

# Handling Missing Values

> #### 1. Bathrooms

In [271]:
df.bathrooms.unique()

array([1. , 1.5, 2. , nan, 2.5, 3. , 0.5, 4.5, 5. , 0. , 4. , 3.5, 5.5,
       7.5, 6. , 8. , 7. , 6.5])

^ It is not logical for the bathrooms to be the flutes numbers, because in fact, for example, there is no bathroom and a half!

In [272]:
df["bathrooms"]=df["bathrooms"].round()

In [273]:
df["bathrooms"].mode()

0    1.0
dtype: float64

In [274]:
df["bathrooms"].mean()

1.2513022418855109

In [275]:
df["bathrooms"] = df['bathrooms'].fillna(round(df["bathrooms"].mean()))

In [276]:
#df["bathrooms"] = df['bathrooms'].fillna(df["bathrooms"].mode())

In [277]:
df["bathrooms"].value_counts()

1.0    58299
2.0    13304
3.0     1066
4.0      831
0.0      407
6.0       75
5.0       72
8.0       47
7.0       10
Name: bathrooms, dtype: int64

> #### 2. review

Missing values in column "review_scores_rating" are related to column "number_of_reviews".

In [278]:
df[["number_of_reviews","review_scores_rating"]][df.number_of_reviews == 0]

       number_of_reviews  review_scores_rating
3                      0                   NaN
12                     0                   NaN
15                     0                   NaN
24                     0                   NaN
31                     0                   NaN
...                  ...                   ...
74083                  0                   NaN
74089                  0                   NaN
74095                  0                   NaN
74106                  0                   NaN
74109                  0                   NaN

[15819 rows x 2 columns]

In [279]:
df["review_scores_rating"] = df["review_scores_rating"].fillna(0)

> #### 3. bedrooms

In [280]:
df["bedrooms"].mean()

1.265793028911105

In [281]:
df["bedrooms"].mode()

0    1.0
dtype: float64

In [282]:
#df["bedrooms"] = df['bedrooms'].fillna(df["bedrooms"].mode())

In [283]:
df["bedrooms"] = df["bedrooms"].fillna(1.0)

> #### 4. Beds

In [284]:
df["beds"].mean()

1.710867802108678

In [285]:
df["beds"].mode()

0    1.0
dtype: float64

In [286]:
df["beds"] = df["beds"].fillna(2.0)

> #### 5. host has profile pic

In [287]:
df.host_has_profile_pic

0        t
1        t
2        t
3        t
4        t
        ..
74106    t
74107    t
74108    t
74109    t
74110    t
Name: host_has_profile_pic, Length: 74111, dtype: object

In [288]:
df.host_identity_verified

0        t
1        f
2        t
3        t
4        t
        ..
74106    t
74107    f
74108    t
74109    f
74110    t
Name: host_identity_verified, Length: 74111, dtype: object

the columns host_has_profile_pic and host_identity_verified has boolean values true and false¶

In [289]:
df.replace(to_replace = "t", value = 1,inplace=True) 
df.replace(to_replace = "f", value = 0,inplace=True)

### Changed the datatype to bool of these two columns:

In [290]:
df["host_has_profile_pic"] = df["host_has_profile_pic"].astype("bool")
df["host_identity_verified"] = df["host_identity_verified"].astype("bool")

> #### 6.host response rate

In [291]:
df.host_response_rate = df.host_response_rate.apply(
    lambda x: int(x[:len(x)-1])/100
     if isinstance(x,str) else x )


df.host_response_rate = df.host_response_rate.fillna(df.host_response_rate.mean())

> #### 7.drob

In [292]:
#id
#description
 ##first_review
 ##last_review
 ##host_since
#host_has_profile_pic
#name
#thumbnail_url
#zipcode
#neighbourhood

In [293]:
df1 = df.drop(['id','description','first_review','last_review','host_since',
                          'host_has_profile_pic','name','thumbnail_url','zipcode','neighbourhood'],axis=1)
df1.columns

Index(['log_price', 'property_type', 'room_type', 'amenities', 'accommodates',
       'bathrooms', 'bed_type', 'cancellation_policy', 'cleaning_fee', 'city',
       'host_identity_verified', 'host_response_rate', 'instant_bookable',
       'latitude', 'longitude', 'number_of_reviews', 'review_scores_rating',
       'bedrooms', 'beds'],
      dtype='object')

In [294]:
df1.isna().sum()

log_price                 0
property_type             0
room_type                 0
amenities                 0
accommodates              0
bathrooms                 0
bed_type                  0
cancellation_policy       0
cleaning_fee              0
city                      0
host_identity_verified    0
host_response_rate        0
instant_bookable          0
latitude                  0
longitude                 0
number_of_reviews         0
review_scores_rating      0
bedrooms                  0
beds                      0
dtype: int64

In [295]:
df1

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,instant_bookable,latitude,longitude,number_of_reviews,review_scores_rating,bedrooms,beds
0,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,True,0.94352,0,40.696524,-73.991617,2,100.0,1.0,1.0
1,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,False,1.00000,1,40.766115,-73.989040,6,93.0,3.0,3.0
2,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,True,1.00000,1,40.808110,-73.943756,10,92.0,1.0,3.0
3,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,SF,True,0.94352,0,37.772004,-122.431619,0,0.0,2.0,2.0
4,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,True,1.00000,1,38.925627,-77.034596,4,40.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74106,4.605170,Apartment,Private room,{},1,1.0,Real Bed,flexible,False,NYC,True,0.94352,0,40.709025,-73.939405,0,0.0,1.0,1.0
74107,5.043425,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,2.0,Real Bed,moderate,True,LA,False,1.00000,0,33.871549,-118.396053,16,93.0,2.0,4.0
74108,5.220356,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",5,1.0,Real Bed,moderate,True,NYC,True,1.00000,1,40.706749,-73.942377,43,94.0,2.0,2.0
74109,5.273000,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",2,1.0,Real Bed,strict,True,NYC,False,1.00000,1,40.738535,-74.000157,0,0.0,0.0,2.0
74110,4.852030,Boat,Entire home/apt,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",4,1.0,Real Bed,moderate,False,LA,True,1.00000,0,33.761096,-118.192409,205,96.0,1.0,2.0

> #### 8.amenities

In [296]:
amenities_count = []
for i in df["amenities"]:
    amenities_count.append(len(i))

In [297]:
len(amenities_count)

74111

In [298]:
df1["amenities"] = amenities_count

# 9.Factorization of categorical columns

### 1- room_type

In [299]:
df1.room_type.unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

In [300]:
def room_type_cleaning(x):
    if x=='Entire home/apt':
        x= 3
    elif x=='Private room':
        x= 2
    elif x=='Shared room':
        x= 1
    return x
df1['room_type']=df1['room_type'].map(lambda x: room_type_cleaning(x))

In [301]:
#df1.room_type = df1.room_type.apply(lambda x: 3 if x=='Entire home/apt' else 2 if x=='Private room' else 1)

In [302]:
df1.bed_type.unique()

array(['Real Bed', 'Futon', 'Pull-out Sofa', 'Couch', 'Airbed'],
      dtype=object)

### 2- bed_type

In [303]:
df1.bed_type = df.bed_type.map(lambda x: 2 if x=='Real Bed' else 1)

In [304]:
df1

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,instant_bookable,latitude,longitude,number_of_reviews,review_scores_rating,bedrooms,beds
0,5.010635,Apartment,3,152,3,1.0,2,strict,True,NYC,True,0.94352,0,40.696524,-73.991617,2,100.0,1.0,1.0
1,5.129899,Apartment,3,218,7,1.0,2,strict,True,NYC,False,1.00000,1,40.766115,-73.989040,6,93.0,3.0,3.0
2,4.976734,Apartment,3,311,5,1.0,2,moderate,True,NYC,True,1.00000,1,40.808110,-73.943756,10,92.0,1.0,3.0
3,6.620073,House,3,210,4,1.0,2,flexible,True,SF,True,0.94352,0,37.772004,-122.431619,0,0.0,2.0,2.0
4,4.744932,Apartment,3,174,2,1.0,2,moderate,True,DC,True,1.00000,1,38.925627,-77.034596,4,40.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74106,4.605170,Apartment,2,2,1,1.0,2,flexible,False,NYC,True,0.94352,0,40.709025,-73.939405,0,0.0,1.0,1.0
74107,5.043425,Apartment,3,224,4,2.0,2,moderate,True,LA,False,1.00000,0,33.871549,-118.396053,16,93.0,2.0,4.0
74108,5.220356,Apartment,3,402,5,1.0,2,moderate,True,NYC,True,1.00000,1,40.706749,-73.942377,43,94.0,2.0,2.0
74109,5.273000,Apartment,3,189,2,1.0,2,strict,True,NYC,False,1.00000,1,40.738535,-74.000157,0,0.0,0.0,2.0
74110,4.852030,Boat,3,279,4,1.0,2,moderate,False,LA,True,1.00000,0,33.761096,-118.192409,205,96.0,1.0,2.0

### 3- city

In [305]:
df1 = pd.concat([df1, pd.get_dummies(df1['city'], prefix='city')],axis=1)

In [306]:
#df1 = df1.drop(['city'],axis=1)

## 4- property_type

In [308]:
#dict1 = {'Apartment':['Condominium','Timeshare','Loft','Serviced apartment','Guest suite'],
         'House':['Vacation home','Villa','Townhouse','In-law','Casa particular'],
         'Hotel1':['Dorm','Hostel','Guesthouse'],
    'Hotel2':['Boutique hotel','Bed & Breakfast'],
         'Other':['Island','Castle','Yurt','Hut','Chalet','Treehouse',
                  'Earth House','Tipi','Cave','Train','Parking Space','Lighthouse',
                 'Tent','Boat','Cabin','Camper/RV','Bungalow']
                
                }
#dict2 = {i : k for k, v in dict1.items() for i in v}
#df1['property_type'].replace(dict2).value_counts()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
df1.cancellation_policy.unique()

## 5-cancellation_policy

In [ ]:
def cancellation_policy_cleaning(x):
    if x=='super_strict_60':
        x= 5
    elif x=='super_strict_30':
        x= 4
    elif x=='strict':
        x= 3
    elif x=='moderate':
        x= 2
    elif x=='flexible':
        x= 1     
    return x
df1['cancellation_policy']=df1['cancellation_policy'].map(lambda x: cancellation_policy_cleaning(x))

## 6-cleaning_fee and host_identity_verified

In [ ]:
df1.replace(to_replace = True , value = 1,inplace=True) 
df1.replace(to_replace = False , value =0,inplace=True)

In [ ]:
df1.isnull().sum()